<div class="card mb-4 animate">
    <div class="card-img-wrapper">
    <h4 class="card-title text-center">{{filme.nomeFilme}}</h4>
      <img
        class="card-img-top"
        src="../../../../assets/oscar.jpg"
      />
      <ul class="list-inline member-icons animate text-center mt-1">
        <li class="list-inline-item">
          <button class="btn btn-primary" tooltip="Lista de Filmes">
            <i class="fa fa-film"></i>
          </button>
        </li>
        <li class="list-inline-item">
          <button class="btn btn-primary"
                  >
            <i class="fa fa-heart"></i>
          </button>
        </li>
        <li class="list-inline-item">
          <button class="btn btn-primary">
            <i class="fa fa-envelope"></i>
          </button>
        </li>
      </ul>
    </div>
  </div>
