<div class="font-oscar-brown">
    <div class="container">
        <h1 class="display-4 font-oscar-gold" style="opacity: 1.0;">Bem vindo ao site do Oscar 2020</h1>
        <!-- <h1 style="color: #dfca4e; font-family: beba;">Para o Oscar 2020</h1> -->
        <p class="lead font-oscar-gold" style="opacity: 1.0;">Realize o login para fazer suas apostas.</p>
    </div>
</div>


<div class="container-fluid justify-content-center">
    <carousel>
        <slide>
            <img class="img-responsive" src="https://i.ibb.co/r4J36Sb/2020.jpg" alt="first slide"
                style="display: block; width: 100%;">
            <div class="carousel-caption d-none d-md-block">
                <h2 class="text-white">90º Edição do Oscar</h2>
            </div>
        </slide>
        <slide>
            <img class="img-responsive" src="https://i.ibb.co/CbY0V8x/2019.jpg" alt="first slide"
                style="display: block; width: 100%;">
            <div class="carousel-caption d-none d-md-block">
                <h2 class="text-white">89º Edição do Oscar</h2>
            </div>
        </slide>
        <slide>
            <img class="img-responsive" src="https://i.ibb.co/RNMdjYt/2018.jpg" alt="second slide"
                style="display: block; width: 100%;">
            <div class="carousel-caption d-none d-md-block">
                <h2 class="text-white">88º Edição do Oscar</h2>
            </div>
        </slide>
        <slide>
            <img class="img-responsive" src="https://i.ibb.co/GPPQJRK/2017.jpg" alt="second slide"
                style="display: block; width: 100%;">
            <div class="carousel-caption d-none d-md-block">
                <h2 class="text-white">87º Edição do Oscar</h2>
            </div>
        </slide>
        <slide>
            <img class="img-responsive" src="https://i.ibb.co/Pm5QRF9/2016.jpg" alt="second slide"
                style="display: block; width: 100%;">
            <div class="carousel-caption d-none d-md-block">
                <h2 class="text-white">86º Edição do Oscar</h2>
            </div>
        </slide>
        <slide>
            <img class="img-responsive" src="https://i.ibb.co/JBPvSwf/2015.jpg" alt="second slide"
                style="display: block; width: 100%;">
            <div class="carousel-caption d-none d-md-block">
                <h2 class="text-white">85º Edição do Oscar</h2>
            </div>
        </slide>
    </carousel>
</div>
