<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4" style="font-family:Verdana, Geneva, Tahoma, sans-serif;">Faltam <countdown
                [config]="{leftTime: 30}"></countdown> para o Oscar 2020</h1>
        <p class="lead">Faça suas escolhas e que vença o melhor.</p>
    </div>
</div>
<div class="container-fluid justify-content-center">
    <carousel>
        <slide>
            <img class="img-responsive"
                src="https://scontent.fbfh1-2.fna.fbcdn.net/v/t1.0-9/52666705_10218212740938105_6077299498873257984_o.jpg?_nc_cat=108&_nc_ohc=c74YNtqywicAX85ofRv&_nc_ht=scontent.fbfh1-2.fna&oh=0828dc21559aebd3ee99d61633c69437&oe=5EDA8137"
                alt="first slide" style="display: block; width: 100%;">
            <div class="carousel-caption d-none d-md-block">
                <h2 class="text-white">89º Edição do Oscar</h2>
                <h3 class="text-white">Vencedor: Diego Klucovski</h3>
            </div>
        </slide>
        <slide>
            <img class="img-responsive"
                src="https://scontent.fbfh1-2.fna.fbcdn.net/v/t31.0-8/28619361_1724632244224252_1012387831586213497_o.jpg?_nc_cat=106&_nc_ohc=34uGH5t6YBwAX9_hEwB&_nc_ht=scontent.fbfh1-2.fna&oh=c12418456e69071119e471155cd6dc5b&oe=5EBDAB92"
                alt="second slide" style="display: block; width: 100%;">
            <div class="carousel-caption d-none d-md-block">
                <h2>88º Edição do Oscar</h2>
                <h3>Vencedor: Calleb Malinoski / Marilene Santos</h3>
            </div>
        </slide>
        <slide>
            <img class="img-responsive"
                src="https://scontent.fbfh1-1.fna.fbcdn.net/v/t1.0-0/p206x206/17021971_10211919167722708_6685647584311474860_n.jpg?_nc_cat=101&_nc_ohc=3cR89LxekFsAX-pmRtA&_nc_ht=scontent.fbfh1-1.fna&_nc_tp=6&oh=73a0d9300cfb15828cf9dde84185b692&oe=5ECBB754"
                alt="second slide" style="display: block; width: 100%;">
            <div class="carousel-caption d-none d-md-block">
                <h2>87º Edição do Oscar</h2>
                <h3>Vencedor: Renan Rioji / Marilene Santos</h3>
            </div>
        </slide>
        <slide>
            <img class="img-responsive"
                src="https://scontent.fbfh1-2.fna.fbcdn.net/v/t31.0-8/12764697_10208525602925709_2216491931578783755_o.jpg?_nc_cat=106&_nc_ohc=p-skNCW5A_oAX_WS7aI&_nc_ht=scontent.fbfh1-2.fna&oh=a673bdd12de4bcdd93c4ec5aeaf7fa22&oe=5EC0DD0F"
                alt="second slide" style="display: block; width: 100%;">
            <div class="carousel-caption d-none d-md-block">
                <h2 class="text-black-50">86º Edição do Oscar</h2>
                <h3 class="text-black-50">Vencedor: Calleb Malinoski</h3>
            </div>
        </slide>
    </carousel>
</div>
