<div class="font-oscar-brown">
    <div class="container">
      <h1 class="display-4 font-oscar-gold" style="opacity: 1.0;">Filmes</h1>
      <p class="lead font-oscar-gold" style="opacity: 1.0;">Todos os Filmes do Oscar 2020 </p>
    </div>
  </div>

  <div *ngIf="registerMode" class="container">
    <div class="row justify-content-center">
      <app-filme-create (cancelRegister)="cancelRegisterMode($event)"></app-filme-create >
    </div>
  </div>

  <div class="container mt-3">
  <div class="row">
    <div *ngFor="let filme of filmes" class="col-lg-3 col-md-3 col-sm-6">
      <app-filme-card [filme]="filme"></app-filme-card>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6">
    <div class="card mb-4 animate">
        <div class="card-img-wrapper">
        <h4 class="card-title text-center">Nov Filme</h4>
          <img
            class="card-img-top"
            src="../../../../assets/oscar.jpg"
          />
          <ul class="list-inline member-icons animate text-center mt-1">
            <li class="list-inline-item">
              <button class="btn btn-primary" (click)="registroFilmeToogle()">
                <i class="fa fa-plus"></i>
              </button>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
