<div class="bg-light">
    <div class="container">
        <h1 class="display-4 font-oscar-gold">Indicados Oscar 2020</h1>
        <p class="lead font-oscar-black">Todos os indicados ao Oscar</p>
    </div>
</div>

<div class="container mt-3  ">
    <div class="row justify-content-center">
        <mat-card class="col-lg-10 col-md-10 col-sm-6 mt-4 ml-2 mr-2" *ngFor="let categoria of categorias">
            <h4 class="text-center">{{categoria.nomeCategoria}}</h4>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Indicados
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <app-indicados-card [categoria]="categoria"></app-indicados-card>
            </mat-expansion-panel>
        </mat-card>
    </div>
</div>
