<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <div class="class container">
      <a class="navbar-brand" [routerLink]="['/home']">Oscar dos Amigos</a>

      <ul class="navbar-nav mr-auto">
        <!-- <li class="nav-item " routerLinkActive="active">
          <a class="nav-link" [routerLink]="['/categorias']"  >Categorias</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" [routerLink]="['/filme']" >Filmes</a>
        </li> -->
        <li  *ngIf="logado" class="nav-item" routerLinkActive="active">
          <a class="nav-link" [routerLink]="['/indicados']">Indicados</a>
        </li>
        <!-- <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" [routerLink]="['/cadastrar']">Cadastrar os Indicados</a>
        </li> -->
        <li *ngIf="logado" class="nav-item" routerLinkActive="active">
            <a class="nav-link" [routerLink]="['/votos']">Votação</a>
        </li>
      </ul>



        <button *ngIf="logado" class="btn btn-primary" (click)="logout()" >Sair</button>
        <button *ngIf="!logado" class="btn btn-primary" [routerLink]="['indicados']" >Logar</button>


  </div>
</nav>
